# Requirements file for ReadTheDocs, check .readthedocs.yml.
# To build the module reference correctly, make sure every external package
# under `install_requires` in `setup.cfg` is also listed here!
sphinx>=3.2.1
datasets>=2.6.1
evaluate>=0.30
jiwer
gradio
git+https://github.com/huggingface/transformers@v4.25.1#egg=transformers
# sphinx_rtd_theme
